doctype 5

html
head
    title= title
    link(rel='stylesheet', href='style.css')
body
    h1=title
    h3 The connection status is currently:
    p= connectionStatus
    p= exchangeStatus
    p= queueStatus

    p Please select an option:
    form(action='/start-server', method='post')
        input(type='submit', value='Start The Server')
    form(action='/new-exchange', method='post')
        input(type='submit', value='Establish an Exchange')
    form(action='/new-queue', method='post')
        input(type='submit', value='Establish a new Message Queue')
